.image {
  background: url('../Assets/cervejas2.jpg') no-repeat center center;
  height: 600px;
}

.colorTitle {
  color: seashell;
}

.inputAddress {
  max-width: 50rem;
  padding: 0 1rem;
  margin: 0 auto;
}
