.header {
  position: fixed;
  width: 100%;
  z-index: 100;
  background: #ffcc00;
  top: 0px;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
}

.logo {
  font-size: 2rem;
  color: #333;
}

.login {
  color: #333;
  display: flex;
  align-items: center;
}
