.searchLocationInput {
  display: flex;
  border-radius: 10px;
  border: 1px solid #d8d8d8;
}

.searchLocationInput:focus-within {
  border-color: rgba(223, 225, 229, 0);
  box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
}

.searchLocationInput:hover {
  box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
  border-color: rgba(223, 225, 229, 0);
}

.searchLocationInput input {
  height: 50px;
  width: 100%;
  padding: 8px 20px;
  border: none;
  font-size: 16px;
  border-radius: 8px;
}

.searchLocationInput input:focus {
  outline: none;
}
